/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* ==============
     GLOBAL
===============*/

html {
	background: #D3D3D3;
}
body {
	background: white;
	width: 85%;
	margin: 2em auto;
  font-family: 'Oswald', sans-serif;
  line-height: 170%
}
footer {
  background: #D3D3D3;
}
a:active {
  text-decoration: none; 
}
a:link {
  text-decoration: none; 
}
a:visited {
  text-decoration: none; 
}
a:hover {
  text-decoration: none; 
}
h1{
  font-size: 1.6em;
}
p {
  font-size: 1.3em;
}

/* ==============
     HEADER
===============*/

img#square-up-logo {
  display: block; 
	width: 25%;
	margin: 0 auto;
}

/*================
    NAV BAR 
================*/

#navigation-bar {
  background: black;
}
#navigation-bar ul {
  text-align: center; 
  padding: 1em 0;
}
#navigation-bar ul li {
  display: inline;
  margin: 0 1.8em; 
  color: white;
  font-size: 1.1em;
}
#navigation-bar a:link {
  color: white;
  text-decoration: none; 
}
#navigation-bar a:visited {
  color: white;
  text-decoration: none; 
}

/*================
    TOP SECTION
 ================*/

section#top-section{
  background: #EEEEEE;
  border-top-left-radius: 25em;
  -moz-border-radius-topleft: 25em
  -webkit-border-top-left-radius: 25em;
  overflow: hidden;
}
img#main-image{
  width: 66%;
  border-bottom-right-radius: 25em;
  -moz-border-radius-bottomright: 25em
  -webkit-border-bottom-right-radius: 25em;
  float: left;
}
aside{
  width: 33%;
  float: right;
}
img#escapism-logo{
  width: 70%;
  margin: 3em auto;
  display: block;
}
aside#sign-up p{
  margin: 1em 3em;
  text-align: center;
}

/*================
    MID SECTION
 ================*/

section#middle-section{
   background: #EEEEEE;
   overflow: auto;
}
article#main-text{
  width: 66%;
  float: left;
 }
article#main-text h1 {
  width: 90%;
  margin: 1.2em auto 1em auto;
}
article#main-text p {
  width: 90%;
  margin: 1.5em auto;
}
article#main-text a:link {
  text-decoration: underline;
  color: black;
}
article#main-text a:visited {
  text-decoration: underline;
  color: black;
}
aside#mid-section-aside{
  width: 33%;
  float: right;
 }
aside img#magazine-cover{
  width: 90%;
  margin: 0 auto;
}
.social-media{
  width: 90%;
}
section#follow-text{
  width: 60%;
  float: left;
  padding-top: 2em;
  font-weight: bold;
  font-size: 1.2em;
}
section.social-media-icons{
  width: 40%;
  float: right;
}

/*================
  BOTTOM SECTION
 ================*/
section#bottom-section{
  clear: both;
}

/*================
    FOOTER
 ================*/

footer {
  text-align: center;
  padding: 2em ;
  clear:both;
}





